<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>Your bedecked presentation</title>

  <!-- build:styles -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/css/reveal.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/css/theme/night.css">
  <!-- endbuild -->
</head>
<body>
  <div class="reveal">
    <div class="slides">

      {{#slides}}
        <section>
          {{{html}}}
        </section>
      {{/slides}}

    </div>
  </div>

  <!-- build:scripts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/js/reveal.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    /**
     * @todo pass through bedecked options
     * e.g.
     * `bedecked --history --no-progress --no-controls`
     * @see https://github.com/hakimel/reveal.js/#configuration
     */
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true
    });
  </script>
  <!-- endbuild -->
</body>
</html>
