<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>Your deck.js Presentation</title>

  <!-- Core -->
  <style type="text/css" media="all">
   {{{core.css}}}
  </style>

  <!-- Theme -->
  <style type="text/css" media="all">
    {{{theme.css}}}
  </style>

  <!-- Transition -->
  <style type="text/css" media="all">
    {{{transition.css}}}
  </style>

  {{#extensions}}
  <!-- Extension: {{name}} -->
  <style type="text/css" media="all">
    {{{css}}}
  </style>
  {{/extensions}}
</head>
<body class="deck-container">
  {{#slides}}
    {{{html}}}
  {{/slides}}

  <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
  <a href="#" class="deck-next-link" title="Next">&#8594;</a>

  <p class="deck-status">
    <span class="deck-status-current"></span>
    /
    <span class="deck-status-total"></span>
  </p>

  <form action="." method="get" class="goto-form">
    <label for="goto-slide">Go to slide:</label>
    <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
    <datalist id="goto-datalist"></datalist>
    <input type="submit" value="Go">
  </form>

  <a href="." title="Permalink to this slide" class="deck-permalink">#</a>

  {{#vendor}}
  <!-- {{name}} -->
  {{{js}}}
  {{/vendor}}

  <!-- Core -->
  <script type="text/javascript" charset="utf-8">
    {{{core.js}}}
  </script>

  {{#extensions}}
  <!-- Extension: {{name}} -->
  <script type="text/javascript" charset="utf-8">
    {{{js}}}
  </script>
  {{#extensions}}

  <script>
    $(function() {
      $.deck('.slide');
    });
  </script>
</body>
</html>
